<div class="row">
  <div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="heading">
          <h2>{{currencyExchangeState.fromCurrency?.code}} - {{currencyExchangeState.fromCurrency?.label}}</h2>
          <button class="back-button" type="button" (click)="backToHomePage()">Back to home</button>
        </div>
        <div class="row">
          <div class="col-12">
            <app-currency-converter 
            [currencyExchangeState]="currencyExchangeState" [detailsDisplay]="true" >
            </app-currency-converter>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12" style="text-align:center">
            <h2>Historical Charts Rate</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>