<div class="row">
  <div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="heading">
          <h2>{{currencyExchangeState.fromCurrency?.code}} - {{currencyExchangeState.fromCurrency?.label}}</h2>
          <button class="back-button" type="button" (click)="backToHomePage()">Back to home</button>
        </div>
        <div class="row">
          <div class="col-12">
            <app-currency-converter [currencyExchangeState]="currencyExchangeState" 
              [detailsDisplay]="true" (convertAmountEvent)="convertAmount()" (changeInputsEvent)="resetHistoricalRatesChart()">
            </app-currency-converter>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="row">
          <div class="col-12" style="text-align:center">
            <h2>Historical Rates Chart</h2>
            <apx-chart #historicalRatesChart
            [series]="historicalRatesChartOptions.series"
            [colors]="historicalRatesChartOptions.colors"
            [chart]="historicalRatesChartOptions.chart"
            [markers]="historicalRatesChartOptions.markers"
            [grid]="historicalRatesChartOptions.grid"
            [xaxis]="historicalRatesChartOptions.xaxis"
            [yaxis]="historicalRatesChartOptions.yaxis"
            [stroke]="historicalRatesChartOptions.stroke"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>